{% extends 'base.html.twig' %}

{% block questionnaires %}

    <div class="container-fluid">

        <div class="row" style="height: 80px; background-color: #b0bec5 ; padding: 20px;">
            <div class="col-12 text-center">
                <h1>Enquête PHP</h1>
            </div>
        </div>

        <br>

        {% if info is defined %}
            <div class="row-fluid text-center">

                <div class="alert alert-warning" role="alert">
                    {{ info.message }}
                </div>

            </div>
        {% endif %}

        <br>

        <div class="row" style="padding-top: 20px;">

            <div class="col-md-1"></div>

            <div class="col-md-5">

                <h2>Liste des questionnaire : </h2>
                <br/>

                    {% if (quest is not empty) %}
                        <div class="row-fluid">
                            <table class="table table-striped" >
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col"></th>
                                        <th scope="col">Nom</th>
                                        <th scope="col"></th>
                                        <th scope="col">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                {% for q in quest %}
                                    <tr>
                                        <td>
                                            {{ q.id }}
                                        </td>
                                        <td></td>
                                        <td>
                                            <a href="/admin/questionnaire/edit/{{ q.Id }}">
                                                {{ q.name }}
                                            </a>
                                        </td>
                                        <td></td>
                                        <td>
                                            <a href="/admin/questionnaire/edit/{{ q.Id }}">
                                                <button type="button" class="btn btn-info">
                                                    <img class="mb-2" src="https://image.flaticon.com/icons/svg/61/61456.svg" alt="" width="20" height="20">
                                                </button>
                                            </a>
                                            <a href="/admin/questionnaire/delete/{{ q.Id }}">
                                                <button type="button" class="btn btn-warning">
                                                    <img class="mb-2" src="https://image.flaticon.com/icons/svg/126/126468.svg" alt="" width="20" height="20">
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="alert alert-danger" role="alert">
                                Aucun questionnaire n'a été crée. Veuillez ajouter un questionnaire afin de les
                            voir s'afficher ici.
                        </div>
                    {% endif %}
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <a href="/creer_Questionnaire" class="btn btn-info btn-block">Ajouter</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h2>Créer un xml</h2>
                <br/>
                {% if quest is not empty %}
                    <div class="row">

                        <div class="form-group col-md-6">
                            <select id="inputState" class="form-control">
                                <option value="" selected>Choisissez un questionnaire...</option>
                                {% for q in quest %}
                                    <option value="{{ q.id }}" >{{ q.name}}</option>
                                {% endfor %}
                            </select>

                        </div>

                        <div class="col-md-3">
                            <button type="button" id="toXML" class="btn btn-info btn-block test"> Créer XML</button>
                        </div>

                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        Aucun questionnaire n'a été trouvé.
                    </div>
                {% endif %}


            </div>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h1>Fichier Xml de disponible</h1>
            </div>
        </div>

        <div class="row align-center">
            <div class="col-md-1"></div>
            <div class="col-md-10 xml-list" >
                {% include 'xml-list.html.twig' %}
            </div>

        </div>

    </div>
{% endblock %}

